.admin-products-index {
  .card {
    align-items: flex-start;
  }
}

.admin-products-new {
  .card {
    align-items: flex-start;
  }
}

.admin-products-dashboard {
  .card {
    align-items: flex-start;
  }
}