<section>
  <p>A mini e-commerce application built with Rails 6.1 for purposes of teaching Rails by example.</p>
  <%= link_to "See the current build information on my repo!", "https://github.com/MeatCow/jungle-rails", target: "_blank", class: 'btn btn-info' %>
</section>
